


.card {
    display: flex;
    flex-direction: column;
    /* width: 30rem; */
    
}


.game-title-wrap {
    display: flex;
    align-self: center;
    padding: 10px;
}


.title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 20em;
}