.parent-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* background-color: black; */
    

    
}


.link {
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
    color: black;
}

.card-container {
    border: 2px black;
    margin: 0 auto;
    box-shadow: 1px 1px 10px 1px gray;
    margin-top: 50px;
}